* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url(../images/pattern-background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: auto;
  background-color: #e0e8ff;
}

.parent {
  width: 400px;
  height: 600px;
  position: relative;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 25px;
  box-shadow: 3px 5px 38px 20px #cfd6ec;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

@media (max-width: 767px) {
  .parent {
    width: 350px;
    height: 550px;
    top: 80px;
  }
}
.parent .header img {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.parent .content .text {
  text-align: center;
  padding-bottom: 20px;
}
.parent .content .text p {
  width: 89%;
  margin: 0 auto;
  line-height: 1.6;
  color: #777;
}
.parent .pay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  background-color: rgb(214 225 255 / 30%);
  padding: 10px 20px;
  border-radius: 25px;
}
.parent .pay .text-pay {
  display: flex;
  width: 200px;
  flex-direction: column;
  padding-left: 10px;
}
.parent .content .pay .text-pay h3 {
  margin: 0px 0 0 0;
  font-size: 16px;
  width: fit-content;
}
.parent .content .pay .text-pay p {
  margin: 0;
  width: fit-content;
  color: #777;
  font-size: 14px;
}
.parent .content .pay a {
  color: #0075ff;
}
.parent .content .pay a:hover {
  text-decoration: none;
  color: rgb(0 117 255 / 50%);
}
.parent .button {
  text-align: center;
}
.parent .button button {
  padding: 10px;
  width: 90%;
  border: none;
  background-color: #1e88e5;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
  box-shadow: 3px 5px 38px 20px #cfd6ec;
}
.parent .button button:hover {
  background-color: rgb(3 169 244 / 70%);
}
.parent .button a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: rgb(51 51 51 / 70%);
}
.parent .button a:hover {
  color: #333;
}
